#footer {
	background-color: $primary;
	height: max-content;
}

.two-divider-footer {
	display: flex;
	gap: 20rem;
	justify-content: center;
	& img{
		max-width: 300px;
	}
}

.redes{
	// width: 100%;
	& a{
		// background-color: red;
		color: $white;
		text-decoration: none;
	}
}

.img-text{
	align-items: center;
	display: flex;
	gap: 5%;
	margin: 4% 0;
	width: 500px;
}

.paragraph{
	
	width: 100%;
}

@media (max-width: 750px) {
	img{
	display: none;
	}
}

.small-title{
	font-weight: bold;
	font-size: 35px;
}