.container {
	// background-color: $primary;
	margin: 0 5%;
}

.two-divider-footer {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	& img{
		max-width: 300px;
	}
}

.col{
	margin: 11% auto;
	// margin: 10% 0 10% 0;
	font-size: xx-large;
	text-align: left;
	.paragraph{
		font-size: large;
	}
}

.img-text{
	align-items: center;
	display: flex;
	gap: 5%;
	margin: 4% auto;
}

.small-title{
	font-weight: bold;
}