#footer {
	background-color: $primary;
	color: $white;
	height: max-content;
}

.two-divider-footer {
	display: flex;
	padding-left: 5%;
	justify-content: space-between;
	// & img{
	// 	max-width: 300px;
	// }
}

.redes{
	// width: 100%;
	& a{
		// background-color: red;
		color: $white;
		text-decoration: none;
	}
}

.img-text{
	align-items: center;
	display: flex;
	gap: 5%;
	margin: 4% 0;
	width: 500px;
}

@media (max-width: 750px) {
	img{
	display: none;
	}
}

.small-title{
	font-size: 35px;
}