.fluid-section{
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	display: flex;
	height: 90vh;
}

.fluid-section-alt{
	background-color: $white;
	color: $gray;
	text-align: center;
	// height: 25em;
	height: 4in;
}

.two-divider {
	align-items: center;
	display: flex;
	grid-template-columns: 1.3fr 1fr;
	gap: 10%;
	justify-content: space-around;
	margin: 0 5%;
	& img{
		max-width: 300px;
	}
}

.title{
	font-size: xx-large;
}

.col{
	text-align: justify;
	margin: 5% 0;
	// margin: 10% 0 10% 0;
	font-size: 25px;
	h2{
		
		font-weight: bold;
	}
}

.codeLogo{
	max-height: 80px;
	margin-top: -5%;
}

.codeLogo-alt{
	max-height: 80px;
	margin-top: 5%;
}

.logosDiv{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-evenly;
	padding-bottom: 10%;
}

.topTechs {
	font-size: xx-large;
	padding-top: 5%;
}

#alanImg {
	clip-path: ellipse();
}

#footer{
	background-color: $gray;
	color: $white;
	height: 10rem;
	text-align: center;
}

:root {
  --animate-delay: 0.5s;
}