.container-pendientes{
    margin: 3% 5%;
}

.inputPendiente{
    border-radius: 10px;
    justify-content: center;
    font-size: xx-large;
    padding: 5px 1.5em;
    width: 20em;
}

.inputEnter {
    display: flex;
    justify-content: center;
}

.enterIcon{
    border-radius: 10px;
    :hover{
        color: #ababab;
    }
}
.stateAndButtons {
    display: flex;
    text-align: center;
}

.pendiente{
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    margin: 1rem auto;
    padding: 0.7rem 1.5rem;
    width: 80%;
}

.icons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 10em;
}

.error {
    color: red;
    text-align: center;
    margin: 0 1rem;
}

.done{
    background-image: linear-gradient(to right, darkgreen, $primary);
}
.pending{
    background-image: linear-gradient(to right, darkred, $primary);
}

#icon{
    cursor: pointer;
}

#pendiente-name{
    width: 100%;
}

#pending-list {
    margin-top: 3rem;
}